<center> <img src="https://oci02.img.iteso.mx/Identidades-De-Instancia/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg" align="center" width="650" height="400"/> </center>

<center><font color=#555555><font size=6> MAF1731 - Microstructure and Trading Systems </font> <br> <br>
    
<center><font color=#555555><font size=5> B.Eng Financial Engineering </font> <br> <br> <br> <br>

<center><font color=#555555><font size=6> I.F. Gerardo González Flores</font> <br> <br>
    
<center><font color=#555555><font size=6> I.F. Tania Bell Nicholls</font> <br> <br>

<center> <font color= #555555> <font size = 4> April 2023 </a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/Tania-Bell/MyST_Lab4'>Link</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Lab 4 </font> <br> <br> <font color= #555555> <font size = 5>Market's Microstructure </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

<font color= #555555> <font size = 4> Abstract </font>

<font color= #6B6B6B> <font size = 3>  Throughout this laboratory, we will use the information from the Cryptocurrency's Book of Orders from various international exchanges, with the primary objective of visualizing and modeling the market's microstructure through it's characteristics and behaviors like Matchine Engine, Levels, Ask-Bid Volumes, etc.    </font>

<br>

# <font color= #6B6B6B> 0. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 0.2 Python Packages </font> <font color= #555555>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas
- numpy
- jupyter
- ccxt
- ast
- time
- asyncio

## <font color= #6B6B6B> 0.3 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- files/dat.csv : DataFrame containing book of orders information

## <font color= #6E6E6E> 0.4 Install Packages</font>

In [3]:
%%capture

# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

In [11]:
# importing all libraries
import warnings
warnings.filterwarnings('ignore')
from datetime import timedelta
import numpy as np
import pandas as pd
import ccxt
import functions as fn
import data as dt
import visualizations

In [10]:
pip install ccxt

Collecting ccxt
  Downloading https://files.pythonhosted.org/packages/36/17/6d73f732d3b80b60c85b687ccf191820b5e7bcb9109d63066b5b9653c4c7/ccxt-3.0.75-py2.py3-none-any.whl (3.6MB)
Requirement already satisfied: certifi>=2018.1.18 in c:\users\gerag\anaconda3\lib\site-packages (from ccxt) (2021.10.8)
Collecting aiodns>=1.1.1; python_version >= "3.5.2" (from ccxt)
  Downloading https://files.pythonhosted.org/packages/ab/72/991ee33a517df69c6cd6f3486cfe9b6329557cb55acaa8cefac33c2aa4d2/aiodns-3.0.0-py3-none-any.whl
Requirement already satisfied: requests>=2.18.4 in c:\users\gerag\anaconda3\lib\site-packages (from ccxt) (2.22.0)
Collecting yarl>=1.7.2; python_version >= "3.5.2" (from ccxt)
  Downloading https://files.pythonhosted.org/packages/ac/44/aa6b863466903f7a4cec450a2a744f4ed1f9a03a2c633e2d649fffc49f4a/yarl-1.9.1-cp37-cp37m-win_amd64.whl (61kB)
Collecting aiohttp>=3.8; python_version >= "3.5.2" (from ccxt)
  Downloading https://files.pythonhosted.org/packages/9b/79/35d0c8eea92ec2649cc4ee385f9bc46da975742c23672d3e1925dc29d55a/aiohttp-3.8.4-cp37-cp37m-win_amd64.whl (322kB)
Collecting setuptools>=60.9.0 (from ccxt)
  Downloading https://files.pythonhosted.org/packages/47/6a/dfaf9838b6dd1f04537c0a66cf880dd24acd829f8a39d468c11fc0b7d8c6/setuptools-67.7.1-py3-none-any.whl (1.1MB)
Requirement already satisfied: cryptography>=2.6.1 in c:\users\gerag\anaconda3\lib\site-packages (from ccxt) (2.7)
Collecting pycares>=4.0.0 (from aiodns>=1.1.1; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/a9/18/92bc36524deaeaa3e0b3fe907d12c3a83654da54dabd5cf796e3d8e3dcc2/pycares-4.3.0-cp37-cp37m-win_amd64.whl (76kB)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\gerag\anaconda3\lib\site-packages (from requests>=2.18.4->ccxt) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\gerag\anaconda3\lib\site-packages (from requests>=2.18.4->ccxt) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\gerag\anaconda3\lib\site-packages (from requests>=2.18.4->ccxt) (3.0.4)
Collecting typing-extensions>=3.7.4; python_version < "3.8" (from yarl>=1.7.2; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/31/25/5abcd82372d3d4a3932e1fa8c3dbf9efac10cc7c0d16e78467460571b404/typing_extensions-4.5.0-py3-none-any.whl
Collecting multidict>=4.0 (from yarl>=1.7.2; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/1b/7c/705e0f14225a748b0729d97095283b2251dbf7cada28bfe75a11b7cf2d0c/multidict-6.0.4-cp37-cp37m-win_amd64.whl
Collecting aiosignal>=1.1.2 (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/76/ac/a7305707cb852b7e16ff80eaf5692309bde30e2b1100a1fcacdc8f731d97/aiosignal-1.3.1-py3-none-any.whl
Requirement already satisfied: attrs>=17.3.0 in c:\users\gerag\anaconda3\lib\site-packages (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt) (19.1.0)
Collecting frozenlist>=1.1.1 (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/20/f9/5beca2597a95de184dc695bc6ff53e551e45dd59f7a885e52514b76bf48b/frozenlist-1.3.3-cp37-cp37m-win_amd64.whl
Collecting charset-normalizer<4.0,>=2.0 (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/e6/98/a3f65f57651da1cecaed91d6f75291995d56c97442fa2a43d2a421139adf/charset_normalizer-3.1.0-cp37-cp37m-win_amd64.whl (94kB)
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/d6/c1/8991e7c5385b897b8c020cdaad718c5b087a6626d1d11a23e1ea87e325a7/async_timeout-4.0.2-py3-none-any.whl
Collecting asynctest==0.13.0; python_version < "3.8" (from aiohttp>=3.8; python_version >= "3.5.2"->ccxt)
  Downloading https://files.pythonhosted.org/packages/e8/b6/8d17e169d577ca7678b11cd0d3ceebb0a6089a7f4a2de4b945fe4b1c86db/asynctest-0.13.0-py3-none-any.whl
Requirement already satisfied: six>=1.4.1 in c:\users\gerag\anaconda3\lib\site-packages (from cryptography>=2.6.1->ccxt) (1.12.0)
Requirement already satisfied: asn1crypto>=0.21.0 in c:\users\gerag\anaconda3\lib\site-packages (from cryptography>=2.6.1->ccxt) (0.24.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\gerag\anaconda3\lib\site-packages (from cryptography>=2.6.1->ccxt) (1.12.3)
Requirement already satisfied: pycparser in c:\users\gerag\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.6.1->ccxt) (2.19)
Installing collected packages: pycares, aiodns, typing-extensions, multidict, yarl, frozenlist, aiosignal, charset-normalizer, async-timeout, asynctest, aiohttp, setuptools, ccxt
  Found existing installation: setuptools 41.0.1
    Uninstalling setuptools-41.0.1:
      Successfully uninstalled setuptools-41.0.1
Successfully installed aiodns-3.0.0 aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 asynctest-0.13.0 ccxt-3.0.75 charset-normalizer-3.1.0 frozenlist-1.3.3 multidict-6.0.4 pycares-4.3.0 setuptools-67.7.1 typing-extensions-4.5.0 yarl-1.9.1
Note: you may need to restart the kernel to use updated packages.

# <font color= #6B6B6B> <font size = 5> 1. Introduction </font>

This laboratory focuses on using the information in the cryptocurrencies' Book of Orders to visualize and model the market's microstructure. In order to learn about a market's microstructure it is important to have all the information available, for that reason the market chosen for this project was the cryptocurrecy.

This project starts with obtaining the most accurate and current information of three different exchange markets and three different trading pairs using the ccxt library. The exchange markets chosen were Binance, Bitfinex and Kraken. The trading pairs chosen were BTC/USDT, ETH/USDT and ADA/USDT. Then the information was organized and summarized taking into account the levels and total bid size and ask size.

For the visualization, graphs of the mid price were generated with the plotly library in order to compare the different time series.

To complete the objetives, the last part of the lab consisted of modeling the microstructure of the market. This was achieved through estimating the Effective Spread based on the Roll model (1984).

# <font color= #6B6B6B> <font size = 5> 2. Objectives </font>

- Obtain, clean and analyze the information obtained from the Book of Orders
- Visualize the mid price time series
- Model the market's microstructure using the effective spread

# <font color= #6B6B6B> <font size = 5> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

Exchange markets:
- Binance
- Bitfinex
- Kraken

Trading pairs:
- BTC/USDT
- ETH/USDT
- ADA/USDT

Datetime : timestamp in BO

Ask_size : volume of asks

Ask_price : price of asks

Bid_size : volume of bids

Bid_price : price of bids

Spread : difference between ask and bid

Mid_price : average Top of the Book

VWAP : volume-weighted average price

Close_price : closing price

Levels : trading levels

In [13]:
data_files = dt.get_file_names("files")
series, effective_spreads = dt.consumir_orderbooks(data_files)
series["binance_BTCUSDT"] # it is a dictionary but for visualization terms in the notebook it was downloaded as csv

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,binance,2023-04-22T00:31:03.106Z,100,27.2347,36.835,64.0696,27284.7,27284.6
1,binance,2023-04-22T00:31:03.623Z,100,27.7415,36.5426,64.2841,27284.7,27284.7
2,binance,2023-04-22T00:31:04.456Z,100,27.7367,36.452,64.1887,27284.7,27284.7
3,binance,2023-04-22T00:31:05.474Z,100,26.9551,34.1932,61.1484,27284.7,27284.8
4,binance,2023-04-22T00:31:06.830Z,100,27.3513,34.7826,62.1338,27284.7,27284.9
5,binance,2023-04-22T00:31:07.794Z,100,25.3892,21.2049,46.5941,27284.7,27285.4
6,binance,2023-04-22T00:31:08.295Z,100,30.9833,24.9844,55.9677,27284.7,27285.2
7,binance,2023-04-22T00:31:09.166Z,100,31.2597,26.7654,58.0251,27284.7,27285.3
8,binance,2023-04-22T00:31:10.084Z,100,28.6538,18.3244,46.9783,27284.7,27285.9
9,binance,2023-04-22T00:31:11.001Z,100,27.9857,19.2546,47.2403,27284.7,27285.6
10,binance,2023-04-22T00:31:11.740Z,100,28.1276,17.5985,45.7261,27284.7,27285.2
11,binance,2023-04-22T00:31:12.557Z,100,23.5863,17.4038,40.9901,27284.7,27284.2
12,binance,2023-04-22T00:31:13.027Z,100,23.5863,18.4617,42.048,27284.7,27284
13,binance,2023-04-22T00:31:13.490Z,100,29.034,18.5068,47.5408,27284.7,27284.9
14,binance,2023-04-22T00:31:13.960Z,100,26.4085,18.9883,45.3968,27284.7,27284.9
15,binance,2023-04-22T00:31:14.592Z,100,26.4072,18.9645,45.3717,27284.7,27284.9
16,binance,2023-04-22T00:31:15.210Z,100,29.6217,26.5337,56.1554,27284.7,27285
17,binance,2023-04-22T00:31:15.680Z,100,29.7106,26.8324,56.543,27284.7,27285.4
18,binance,2023-04-22T00:31:16.164Z,100,29.367,26.8041,56.171,27284.7,27285.2
19,binance,2023-04-22T00:31:16.650Z,100,29.1046,28.7876,57.8923,27284.7,27285.5
20,binance,2023-04-22T00:31:17.135Z,100,28.0754,28.0138,56.0891,27284.7,27285.4
21,binance,2023-04-22T00:31:17.619Z,100,29.0703,28.1011,57.1714,27284.7,27285.3
22,binance,2023-04-22T00:31:18.237Z,100,28.7539,28.3072,57.0612,27284.7,27285.2
23,binance,2023-04-22T00:31:18.786Z,100,29.632,28.2996,57.9317,27284.7,27285.2
24,binance,2023-04-22T00:31:19.271Z,100,28.8608,28.0864,56.9472,27284.7,27285.1
25,binance,2023-04-22T00:31:19.741Z,100,28.8529,28.1169,56.9697,27284.7,27285.1
26,binance,2023-04-22T00:31:20.258Z,100,28.8072,28.1169,56.924,27284.7,27285.1
27,binance,2023-04-22T00:31:20.721Z,100,28.7341,28.1017,56.8357,27284.7,27285
28,binance,2023-04-22T00:31:21.243Z,100,28.2689,19.1469,47.4158,27284.7,27285.3
29,binance,2023-04-22T00:31:21.775Z,100,26.1565,22.9764,49.1329,27284.7,27284.2
...,...,...,...,...,...,...,...,...
6586,binance,2023-04-22T01:30:44.018Z,100,28.105,21.2964,49.4014,27219.5,27219.6
6587,binance,2023-04-22T01:30:44.519Z,100,28.4977,21.2932,49.7909,27215.6,27215.7
6588,binance,2023-04-22T01:30:45.053Z,100,29.8885,21.9134,51.802,27215.6,27215.5
6589,binance,2023-04-22T01:30:45.686Z,100,20.4961,16.8667,37.3628,27214.6,27212
6590,binance,2023-04-22T01:30:46.301Z,100,21.2455,24.3161,45.5616,27212.8,27211.2
6591,binance,2023-04-22T01:30:47.004Z,100,22.9015,24.3279,47.2294,27212.8,27211.5
6592,binance,2023-04-22T01:30:47.541Z,100,18.4659,24.9414,43.4073,27209.1,27208.7
6593,binance,2023-04-22T01:30:48.058Z,100,21.4811,22.2171,43.6981,27209.1,27208.5
6594,binance,2023-04-22T01:30:48.643Z,100,21.4404,21.4955,42.9358,27209.1,27209.2
6595,binance,2023-04-22T01:30:49.128Z,100,21.0766,22.019,43.0956,27209.1,27209.1
6596,binance,2023-04-22T01:30:49.645Z,100,20.2638,22.863,43.1268,27209.1,27209.1
6597,binance,2023-04-22T01:30:50.120Z,100,21.4423,22.6682,44.1105,27209.1,27209.2
6598,binance,2023-04-22T01:30:50.704Z,100,18.2967,21.7246,40.0213,27211,27210.9
6599,binance,2023-04-22T01:30:51.294Z,100,17.0638,27.5028,44.5665,27211,27210.9
6600,binance,2023-04-22T01:30:51.791Z,100,17.9168,26.7851,44.7019,27211,27211
6601,binance,2023-04-22T01:30:52.293Z,100,17.7859,23.557,41.3429,27211,27211.1
6602,binance,2023-04-22T01:30:52.820Z,100,17.4797,22.2492,39.7289,27211,27211
6603,binance,2023-04-22T01:30:53.353Z,100,18.2158,20.3832,38.5991,27211,27210.7
6604,binance,2023-04-22T01:30:53.847Z,100,18.256,19.2874,37.5434,27211,27210.7
6605,binance,2023-04-22T01:30:54.420Z,100,19.0572,19.392,38.4492,27211,27210.7
6606,binance,2023-04-22T01:30:55.044Z,100,19.5608,19.8898,39.4507,27211,27210.7
6607,binance,2023-04-22T01:30:55.582Z,100,19.2933,20.4742,39.7675,27211,27210.6
6608,binance,2023-04-22T01:30:56.093Z,100,20.0776,20.5165,40.5941,27211,27210.6
6609,binance,2023-04-22T01:30:56.600Z,100,20.8075,20.0235,40.831,27211,27210.8
6610,binance,2023-04-22T01:30:57.133Z,100,20.7885,19.954,40.7425,27211,27210.8
6611,binance,2023-04-22T01:30:57.604Z,100,20.5143,19.3789,39.8932,27211,27210.5
6612,binance,2023-04-22T01:30:58.268Z,100,20.5118,19.4982,40.01,27211,27210.5
6613,binance,2023-04-22T01:30:58.921Z,100,20.2388,16.7718,37.0106,27211,27210.5
6614,binance,2023-04-22T01:30:59.436Z,100,21.915,17.9816,39.8966,27211,27210.6
6615,binance,2023-04-22T01:30:59.936Z,100,21.8916,17.2022,39.0938,27211,27210.6

In [16]:
series["binance_ADAUSDT"].head()

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,binance,2023-04-22T00:30:33.172Z,100,1.85033e+06,3.41406e+06,5.2644e+06,0.38405,0.382919
1,binance,2023-04-22T00:30:33.657Z,100,1.85297e+06,3.42913e+06,5.2821e+06,0.38405,0.382956
2,binance,2023-04-22T00:30:34.189Z,100,1.85147e+06,3.42913e+06,5.2806e+06,0.38405,0.382956
3,binance,2023-04-22T00:30:35.361Z,100,1.85297e+06,3.42913e+06,5.2821e+06,0.38405,0.382956
4,binance,2023-04-22T00:30:36.696Z,100,1.87508e+06,3.43988e+06,5.31495e+06,0.38405,0.382964

In [17]:
series["binance_ETHUSDT"].head()

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,binance,2023-04-22T00:32:26.508Z,100,526.018,364.424,890.442,1849.55,1849.59
1,binance,2023-04-22T00:32:27.315Z,100,519.296,376.231,895.527,1849.55,1849.58
2,binance,2023-04-22T00:32:28.379Z,100,520.897,376.932,897.829,1849.55,1849.57
3,binance,2023-04-22T00:32:29.428Z,100,555.048,377.022,932.07,1849.55,1849.58
4,binance,2023-04-22T00:32:30.451Z,100,555.571,381.838,937.409,1849.55,1849.58

In [18]:
series["bitfinex_BTCUSDT"].head()

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,bitfinex,2023-04-22T01:38:39.226Z,25,20.9937,15.0199,36.0135,27242,27246.1
1,bitfinex,2023-04-22T01:38:40.747Z,25,20.9937,15.0199,36.0135,27242,27246.1
2,bitfinex,2023-04-22T01:38:42.348Z,25,20.9937,15.0199,36.0135,27242,27246.1
3,bitfinex,2023-04-22T01:38:44.022Z,25,21.8684,16.3874,38.2559,27242,27245.6
4,bitfinex,2023-04-22T01:38:45.591Z,25,21.8684,16.3874,38.2559,27242,27245.6

In [28]:
series["bitfinex_ADAUSDT"].head()

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,bitfinex,2023-04-22T01:38:22.462Z,25,186953,177585,364538,0.38334,0.383418
1,bitfinex,2023-04-22T01:38:24.105Z,25,186953,177585,364538,0.38334,0.383418
2,bitfinex,2023-04-22T01:38:25.829Z,25,157250,197697,354946,0.38339,0.383331
3,bitfinex,2023-04-22T01:38:27.341Z,25,157250,197697,354946,0.38339,0.383331
4,bitfinex,2023-04-22T01:38:28.882Z,25,157250,197697,354946,0.38339,0.383331

In [30]:
series["bitfinex_ETHUSDT"].head()

,exchange,timestamp,levels,ask_volume,bid_volume,total_volume,mid_price,vwap
0,bitfinex,2023-04-22T02:13:25.804Z,25,82.6714,148.429,231.1,1855.55,1855.04
1,bitfinex,2023-04-22T02:13:27.280Z,25,82.6714,148.429,231.1,1855.55,1855.04
2,bitfinex,2023-04-22T02:13:28.957Z,25,82.6714,148.429,231.1,1855.55,1855.04
3,bitfinex,2023-04-22T02:13:30.615Z,25,97.4714,145.145,242.616,1855.55,1855.23
4,bitfinex,2023-04-22T02:13:32.094Z,25,97.4714,145.145,242.616,1855.55,1855.23

## <font color= #6B6B6B> <font size = 5> 4. Microstructure Visualizations  </font>

In order to visualize the information obtained from the Book of Orders, a DataFrame was created with the type of exchange market, timestamp, levels, volume of asks, volume of bids, total volume, mid price and VWAP. This created the right structure to then create the time series shown in the following graphs.

In [14]:
data_volumes

NameError: name 'data_volumes' is not defined

### # poner graficas aqui

<br>

## <font color= #6B6B6B> <font size = 5> 5. Microstructure Modeling </font>

In order to model the microstructure of the market, the Effective Spread was calculated based on Roll's model (1984). This model provides a simple market microstructure model that allows one to estimate the bid-ask spread from observed transaction prices alone, without information on the underlying bid-ask price quotes and the order. The model developed a simple model to estimate the bid–ask spread using the serial covariance of observable trade prices. The model used in this project is the following:

$$2\sqrt{|COV(\Delta P_t,\Delta P_{t-1}|}$$

using the series in $t-5$ for $\Delta P_{t-1}$.

###  # poner dataframe effective spread aqui

In [15]:
# Implementación de funciones Via MAIN
import data as dt
import functions as ft
import visualizations
data_files = dt.get_file_names("files") # Abriendo Información de los orderbooks observados
# Procesado de orderbooks
series, effective_spreads = dt.consumir_orderbooks(data_files)
# Se pueden acceder a partir de la clave del exchange_pareja, ejemplo
# series["binance_BTCUSDT"]

In [31]:
effective_spreads["binance_BTCUSDT"].head()

                  timestamp    close   spread  effective spread
0  2023-04-22T00:31:03.106Z  27284.8  12.1999          0.016733
1  2023-04-22T00:31:03.623Z  27284.7   11.878          0.016733
2  2023-04-22T00:31:04.456Z  27284.7   11.822          0.020000
3  2023-04-22T00:31:05.474Z  27284.8  12.1273          0.016733
4  2023-04-22T00:31:06.830Z  27284.8   12.066          0.016733

In [32]:
effective_spreads["binance_ADAUSDT"].head()

                  timestamp   close spread  effective spread
0  2023-04-22T00:30:33.172Z   0.384   0.01          0.000089
1  2023-04-22T00:30:33.657Z  0.3841   0.01          0.000000
2  2023-04-22T00:30:34.189Z  0.3841   0.01          0.000000
3  2023-04-22T00:30:35.361Z  0.3841   0.01          0.000089
4  2023-04-22T00:30:36.696Z  0.3841   0.01          0.000089

In [33]:
effective_spreads["binance_ETHUSDT"].head()

                  timestamp    close  spread  effective spread
0  2023-04-22T00:32:26.508Z  1849.54  1.4236          0.014142
1  2023-04-22T00:32:27.315Z  1849.55  1.4475          0.008944
2  2023-04-22T00:32:28.379Z  1849.54  1.4475          0.000000
3  2023-04-22T00:32:29.428Z  1849.54  1.4432          0.008944
4  2023-04-22T00:32:30.451Z  1849.54  1.4266          0.008944

In [34]:
effective_spreads["bitfinex_BTCUSDT"].head()

                  timestamp   close spread  effective spread
0  2023-04-22T01:38:39.226Z  3870.1   26.8               0.0
1  2023-04-22T01:38:40.747Z  3870.1   26.8               0.0
2  2023-04-22T01:38:42.348Z  3870.1   26.8               0.0
3  2023-04-22T01:38:44.022Z  3870.1  28.16               0.0
4  2023-04-22T01:38:45.591Z  3870.1  28.16               0.0

In [35]:
effective_spreads["bitfinex_ADAUSDT"].head()

                  timestamp    close     spread  effective spread
0  2023-04-22T01:38:22.462Z  0.14233  0.0007696               0.0
1  2023-04-22T01:38:24.105Z  0.14233  0.0007696               0.0
2  2023-04-22T01:38:25.829Z  0.14233   0.000708               0.0
3  2023-04-22T01:38:27.341Z  0.14233   0.000708               0.0
4  2023-04-22T01:38:28.882Z  0.14233   0.000708               0.0

In [38]:
effective_spreads["bitfinex_ETHUSDT"].head()

                  timestamp  close spread  effective spread
0  2023-04-22T02:13:25.804Z  133.5  2.828               0.0
1  2023-04-22T02:13:27.280Z  133.5  2.828               0.0
2  2023-04-22T02:13:28.957Z  133.5  2.828               0.0
3  2023-04-22T02:13:30.615Z  133.5  2.736               0.0
4  2023-04-22T02:13:32.094Z  133.5  2.736               0.0

# <font color= #6B6B6B> <font size = 5> 6. Conclusions </font>

<hr style="border:0.02in solid gray"> </hr>

<br>

# <font color= #6B6B6B> <font size = 5> 7. References </font>

<hr style="border:0.02in solid gray"> </hr>

Nimalendran, M. (2010). Roll Model. Encyclopedia of Quantitative Finance. https://doi.org/10.1002/9780470061602.eqf18014

Semiparametric Identification of the Bid-Ask Spread in Extended. (2015). Core. https://core.ac.uk/download/pdf/146463242.pdf